# ==========================
# BACKEND (Python + Node)
# ==========================

# --- Python ---
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*$py.class

# Virtual envs
venv/
env/
.venv/
ENV/

# Arquivos de config sensíveis
*.env
.env
.env.*.local

# Cache e temporários
*.egg-info/
.eggs/
.build/
dist/
build/
tmp/
temp/
*.sqlite3
*.db

# Logs
logs/
*.log

# Ferramentas de teste
.coverage
coverage/
.pytest_cache/

# MyPy e outros linters
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# ==========================
# FRONTEND (Node)
# ==========================

# Dependências
node_modules/

# Build
dist/
build/

# Cache do frontend
.cache/
*.tsbuildinfo

# Logs do npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# EDITORES
# ==========================

# VSCode
.vscode/

# JetBrains (WebStorm, PyCharm)
.idea/

# SO
.DS_Store
Thumbs.db

# Outros
*.swp
*.swo
